
/* -----------------------------------------------------------------------------
 *
 * Visibility
 *
 * ----------------------------------------------------------------------------- */


@mixin visually-hide() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin hidden {
	display: none !important;
	visibility: hidden;
}

@mixin visually-show {
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
	position: static;
}

/* -----------------------------------------------------------------------------
 *
 * Misc
 *
 * ----------------------------------------------------------------------------- */

@mixin icon {
	font-family: $font-family-icons !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin clear-fix {
	&:after {
		clear: both;
		content: " ";
		display: table;
	}
}

@mixin placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

