
.site-header {
	background-color: $color-brand;
	height: auto;

	@include from(3) {
		height: 106px;
	}
}

.site-header__banner {
	width: 100%;
	height: 53px;
	display: flex;
	justify-content: space-between;
}

/* Shared trigger */
.site-header__menu-trigger {
	position: relative;
	transition: none;
	width: 60px;
	height: 53px;
	display: inline-block;
	line-height: 53px;
	font-weight: $font-weight-regular;
	cursor: pointer;
	text-decoration: none;
	border: 0;
	background: transparent;
	color: $color-white;
	font-size: 18px;
	padding: 0;
	text-align: center;
	outline: 0;

	&:focus,
	&:hover,
	&:active {
		color: $color-nav-highlight;
	}
}

.nav__trigger {
	display: block;
	position: relative;
	left: calc(-1 * #{$spacer-mm});
	
	@include from(3) {
		display: none;
	}
}

.site-header__nav-container {
	background-color: $color-blue;
	display: none;

	.body--nav {
		display: block;
	}

	@include from(3) {
		display: block;
	}
}
