

.main-navigation {
	max-width: $grid-max-width;
	margin: 0 auto;
	padding: 0;
	position: relative;

	@include from(3) {
		max-width: $grid-max-width;
		margin: 0 auto;
		padding: 0 $spacer-mm;
		position: relative;
	}

	.menu {
		margin: 0;
		padding: 0;
		width: 100%;

		@include from(3) {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			width: 100%;
			margin: 0 calc(-1 * #{$spacer-mm});
		}
	}

	.menu-item {
		list-style: none;
		font-size: $font-size-navigation;
		border-bottom: 1px solid $color-light-blue;

		&:last-of-type {
			border-bottom: none;
		}

		@include from(3) {
			border-bottom: none;
		}
	}

	a {
		color: $color-nav-links;
		background-color: transparent;
		height: 53px;
		line-height: 53px;
		text-decoration: underline;
		transition: $transition_all;
		padding: 0 $spacer-mm;
		display: block;
		width: 100%;

		@include from(3) {
			width: auto;
			display: inline-block;
		}

		.current_page_item &,
		&:hover,
		&:focus {
			background-color: $color-nav-focus-bg;
			color: $color-nav-highlight;
		}

	}
}


.nav__trigger {

	.body--nav-active & {
		background-color: $color-blue;
	}
}
